/* dark.css */
--font-color: #fff;
--bg-color: #212121;

--link-color:#8aa5ff;
--link-state-color:rgb(92, 162, 255);
--link-state-border-color: rgba(92, 162, 255, 0.5);

--thead-bg-color: #343a40;
--table-border-color: lightgrey;

--nav-bg-color: #242424;
--nav-link-color: #b6b6b6;

--pre-color: #ffffff;
--pre-bg-color: #4c4d47;

--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #373737;
--pagination-link-color: #b6b6b6;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;

--svg-color: #ccc;
--svg-state-color:#ff5858;
