{{ if or ( .Paginator.HasPrev ) ( .Paginator.HasNext ) }}
    {{ $toNewPostsMessage := i18n "toNewPosts" }}
    {{ $toOldPostsMessage := i18n "toOldPosts" }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">
                <div class="left pagination-item">
                    ⇦ {{ $toNewPostsMessage }}
                </div>
            </a>
        {{ else }}
            <div class="left pagination-item disabled"></div>
        {{ end }}


        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">
                <div class="right pagination-item {{ if not .Paginator.HasNext }}disabled{{ end }}">
                    {{ $toOldPostsMessage }} ⇨
                </div>
            </a>
        {{ else }}
            <div class="right pagination-item disabled"></div>
        {{ end }}
    </div>
{{ end }}
